@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moving-circle {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(100px, 100px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.animate-moving-circle {
  background-color: red;
  animation: moving-circle 10s infinite ease-in-out;
}
